.nav {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    font-size: 24px;
    
}





.navLink {
    background-color: transparent;
    border: 1px solid #2be42eab;
    color: #00132C;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    border-radius: 20px;
}

.navLink:hover,
.navLink:active {
    outline: 0;
}

.navLink:hover {
    background-color: transparent;
    cursor: pointer;
}

.navLink:before {
    background-color: #58c5db;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -1px;
    top: -1px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
    border-radius: 20px;
}

.navLink:hover:before {
    background-color: rgb(222, 132, 209);
}


.active:before {
    background-color: rgba(80, 57, 155, 0.712);

}